@model IEnumerable<MenuItem>

@if (Model.Count() > 0)
{
    <div class="col-12 post @Model.FirstOrDefault().Category.Name.Replace(" ",string.Empty) list-shop">
        <div class="row">
            <h3 class="text-success">@Model.FirstOrDefault().Category.Name</h3>
        </div>

        @foreach (var item in Model)
        {
            <div class="border border-info rounded col-12" style="margin-bottom:10px; margin-top:10px; padding:10px">
                <div class="row">
                    <div class="col-md-3 col-sm-12">
                        <img src="@item.PictureUri" width="99%" style="border-radius:5px;border:1px solid #bbb9b9" />
                    </div>
                    <div class="col-md-9 col-sm-12">
                        <div class="row pr-3">
                            <div class="col-8">
                                <label class="text-primary" style="font-size:18px;color:maroon;">@item.Name</label>
                                @if (item.KindOfFlavour == "0")
                                {
                                    <span style="color: saddlebrown">
                                        <i class="fas fa-mortar-pestle"></i>
                                    </span>
                                }
                                @if (item.KindOfFlavour == "1")
                                {
                                    <span style="color: green;">
                                        <i class="fas fa-apple-alt"></i>
                                    </span>
                                }
                                @if (item.KindOfFlavour == "2")
                                {
                                    <span style="color: sandybrown">
                                        <i class="fas fa-cookie"></i>
                                    </span>
                                }
                                @if (item.KindOfFlavour == "3")
                                {
                                    <span style="color: yellowgreen;">
                                        <i class="fas fa-lemon"></i>
                                    </span>
                                }
                                @if (item.KindOfFlavour == "4")
                                {
                                    <span style="color: forestgreen;">
                                        <i class="fas fa-spa"></i>
                                    </span>
                                }
                            </div>
                            <div class="col-4 text-right" style="color:#423f3f">
                                <h4>@item.Price.ToString("c")</h4>
                            </div>
                        </div>


                        <div class="row col-12 text-justify d-none d-md-block">
                            <p>@Html.Raw(item.Description)</p>
                        </div>
                        <div class="col-md-3 col-sm-12 offset-md-9 text-center">
                            <a asp-action="Details" class="btn btn-success form-control" asp-route-id="@item.Id">
                                Details
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        }
        <div class="p-4"></div>

    </div>
}