@page
@using WebStore.UI.Utility
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<br />
<h2 class="text-info">Create a New Account</h2>
<br />

<div class="row border backgroundWhite">
    <div class="col-sm-12 col-md-6">
        <form method="post" asp-route-returnUrl="@Model.ReturnUrl">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row">
                <div class="col-sm-10 col-md-4">
                    <label asp-for="Input.Name" class="col-form-label"></label>
                </div>
                <div class="col-sm-2 col-md-5">
                    <input asp-for="Input.Name" class="form-control" />
                </div>
                <span asp-validation-for="Input.Name" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-sm-10 col-md-4">
                    <label asp-for="Input.Password" class="col-form-label"></label>
                </div>
                <div class="col-sm-2 col-md-5">
                    <input asp-for="Input.Password" class="form-control" />
                </div>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-sm-10 col-md-4">
                    <label asp-for="Input.ConfirmPassword" class="col-form-label"></label>
                </div>
                <div class="col-sm-2 col-md-5">
                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                </div>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-sm-10 col-md-4">
                    <label asp-for="Input.Email" class="col-form-label"></label>
                </div>
                <div class="col-sm-2 col-md-5">
                    <input asp-for="Input.Email" class="form-control" />
                </div>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-sm-10 col-md-4">
                    <label asp-for="Input.PhoneNumber" class="col-form-label"></label>
                </div>
                <div class="col-sm-2 col-md-5">
                    <input asp-for="Input.PhoneNumber" type="tel" class="form-control" />
                </div>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-sm-10 col-md-4">
                    <label asp-for="Input.City" class="col-form-label"></label>
                </div>
                <div class="col-sm-2 col-md-5">
                    <input asp-for="Input.City" class="form-control" />
                </div>
                <span asp-validation-for="Input.City" class="text-danger"></span>
            </div>

            @if (User.IsInRole(StaticDetail.ManagerUser))
            {
                <div class="form-group row">
                    <div class="col-sm-10 col-md-4">
                    </div>
                    <div class="col-sm-2 col-md-8">
                        <div class="pretty p-default p-curve">
                            <!--name="rdUserRole"-->
                            <input type="radio" name="color" value="@StaticDetail.SupplyUser" checked />
                            <div class="state p-success-o">
                                <label>@StaticDetail.SupplyUser</label>
                            </div>
                        </div>
                        <div class="pretty p-default p-curve">
                            <!--name="rdUserRole"-->
                            <input type="radio" name="color" value="@StaticDetail.FrontDeskUser" checked />
                            <div class="state p-success-o">
                                <label>@StaticDetail.FrontDeskUser</label>
                            </div>
                        </div>
                        <div class="pretty p-default p-curve">
                            <!--name="rdUserRole"-->
                            <input type="radio" name="color" value="@StaticDetail.ManagerUser" checked />
                            <div class="state p-success-o">
                                <label>@StaticDetail.ManagerUser</label>
                            </div>
                        </div>
                    </div>
                </div>
            }

            <div class="form-group row">
                <div class="col-5 offset-md-4">
                    <button type="submit" class="btn btn-primary form-control">Register</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-6">
        <section>
            <h4>Use another service to register.</h4>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                            for details on setting up this ASP.NET application to support logging in via external services.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
